# .gitignore

# Python / Django
backend/__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.next/

# Others
.DS_Store
.env
*.log